body {
  background-image: url('../../assets//aces.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboardCard {
  width: 50%;
  margin: auto;
}



.search-bar-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.form-control {
  width: 50%; /* Adjust the width of the search input */
  margin: 0 auto; /* Center the search input */
}


@media screen and (max-width: 750px) {
  .dashboardCard {
    width: 70%;
    text-align: center;
  }
  
    .btnsContainer  {
    text-align: center;
  }
  
  .dealer-performance-list {
    text-align: center;
  }

  .search-bar-container {
    width: 80%;
  }
}



