body {
  background-image: url('../assets/aces.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard {
  padding: 20px;
}

.dashboard h2 {
  font-size: 35px; /* Increase font size for the heading */
  margin-bottom: 20px;
}

.dealer-performance-list {
  margin-bottom: 20px;
}

.dealer-performance-list ul {
  font-size: 18px; 
  font-weight: bold; 
  list-style: none;
  padding: 0;
}

.dealer-performance-list li {
  margin-bottom: 20px; /* Increase spacing between list items */
}

.dealer-performance-list li .dealer-name {
  font-size: 25px; /* Increase font size for the dealer name */
  font-weight: bold;
  color: #ff3333; /* Red */
}

.dealer-performance-list li button {
  background-color: #90373787; /* Red */
  color:whitesmoke; 
  border: 15px 10px;
  padding: 15px 20px; /* Increase padding for the buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dealer-performance-list li button:hover {
  background-color: #c40000; /* Darker red on hover */
  
}